.itemTitle {
  font-size: 30px;
  font-weight: 600;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 15px;
  padding: 50px;
  width: 40%;
  height: 560px;
}

.itemCont {
  display: flex;
  align-items: center;
  gap: 15px;
}

.itemWrap {
  display: flex;
  gap: 15px;
}

.itemFilter {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.itemColor {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemSize {
  display: flex;
  gap: 15px;
}

.itemButton {
  width: 230px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.itemButton:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.itemCheckmark {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 872px) {
  .itemInfo {
    width: 66%;
    border: 1px solid;
  }

  .ButtonFlex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 581px) {
  .itemInfo {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .itemInfo {
    width: 90%;
  }

  .itemTitle {
    font-size: 25px;
  }
}
